<body>

<!-- Todays Job START -->
<div id='TodayJobDiv'>
  <div class='TodayJob'>
    <span class='TodayJobSpan'>
      <h1 id='TodayHeading'>Todays Job: </h1> 
    </span>
    <span class='TodayJobSpan'>
      <div class='TodayJobElement'>{{todaysJobData}}</div>
    </span>
  </div>
</div>
<!-- Todays Job END -->

<h1 id='headerTitle'>Current Jobs</h1>
<!-- Client Jobs START -->
<div class='ClientJobsDiv'>
  <div class='ClientJobs'>
    John Appleseed
  </div>
</div>

<div class='ClientJobsDiv'>
  <div class='ClientJobs'>
    Bob Smith
  </div>
</div>
<!-- Client Jobs END -->

 <button mat-fab class='NewJobButton' routerLink="/addjob">+</button>

</body>

